<h1>Welcome</h1>

<ul>
  <%- @users.each do |user| %>
    <li>
      <%= "#{user.name} (#{user.email}) created a #{user.catlists[0].name}
            catlist with #{user.catlists[0].cats.count} cats" %>
    </li>
  <% end %>
</ul>

<%= button_to 'Create new cat', new_cat_path, method: :get %>

<%= button_to 'Show All Records', show_all_records_path, method: :get %>
