
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="UTF-8"/>
    <%= stylesheet_link_tag "style.css" %>
  </head>



  <body class="page">
    <header class="header">
      <h1 class="page__title">GettyCats</h1>
    </header>
    <main class="main">
      <div class="content">
        <h2 class=main_title>Welcome to the website</h2>
      </div>
      <div class="main_btn">



        
          <%= button_to 'Create new cat', new_cat_path, method: :get %>
        
        <%= button_to 'Show All Records', show_all_records_path, method: :get %>
      </div>
    </main>
    <footer class="footer">

    </footer>
  </body>
</html>