<p>
    <strong>Название</strong>
    <%= @catlist.name %>
</p>

<p>
    <strong>Имя кота</strong>
    <%= @catlist.cat.name %>
</p>

<p>
    <strong>Описание</strong>
    <%= @catlist.cat.description %>
</p>