<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="UTF-8"/>
    <%= stylesheet_link_tag "style.css" %>
  </head>
  <body class="page">
    <header class="header">
      <h1 class="page__title">GettyCats</h1>
    </header>
    <main class="main">
      <div class="content">
        <h2 class=main_title>All Cats</h2>
        <ul>
          <% @catlists.each do |catlist| %>
            <% catlist.cats.each do |cat| %>
            <li>
              <%= "#{cat.name} #{cat.description}" %>
            </li>
            <% end %>
          <% end %>
        </ul>
        </ul>
      </div>
    </main>
    <footer class="footer">
      <svg 
        xmlns="http://www.w3.org/2000/svg" 
        xml:space="preserve" 
        id="_x32_" 
        width="50" 
        height="50" 
        version="1.1" 
        viewBox="0 0 512 512">
        <path d="M430.762 126.907c-42.384-89.329-67.753-89.329-78.722-89.329-1.947 0-3.884.167-5.785.482-18.1 3.014-41.374 22.031-69.302 56.579h-41.929c-27.909-34.548-51.202-53.566-69.301-56.579a35.159 35.159 0 0 0-5.758-.482h-.25c-11.108 0-36.412.649-78.499 89.329C34.188 164.608-32.49 256.506 18.091 366.094c49.996 108.328 191.425 108.328 237.907 108.328 46.472 0 187.911 0 237.907-108.318 50.59-109.598-16.096-201.496-63.143-239.197zm37.293 227.254c-41.15 89.134-161.411 91.776-212.056 91.776-50.626 0-170.906-2.642-212.038-91.776-56.969-123.432 60.121-208.886 60.121-208.886s36.551-79.213 55.875-79.213l1.094.093c18.99 3.162 60.14 56.969 60.14 56.969h69.616s41.15-53.807 60.14-56.969l1.094-.093c19.305 0 55.875 79.213 55.875 79.213s117.108 85.454 60.139 208.886z" class="st0"/><path d="m78.008 314.355 103.738 8.169.742-9.467-103.738-8.16zM76.2 355.496l1.01 9.439 101.235-10.802-1.011-9.44zM330.269 322.524l103.719-8.169-.741-9.458-103.72 8.16zM333.56 354.133l101.236 10.802 1.01-9.439-101.235-10.803zM317.222 368.467c-7.983 1.91-14.715 2.708-20.324 2.708-7.446 0-12.832-1.391-16.866-3.422-5.981-3.059-9.458-7.621-11.841-13.5-2.327-5.832-3.171-12.851-3.162-19.157 0-3.95.333-7.427.695-10.329l16.718-16.718a10.762 10.762 0 0 0 2.336-11.73 10.756 10.756 0 0 0-9.94-6.648h-37.683c-4.45 0-8.437 2.745-10.032 6.899a10.737 10.737 0 0 0 2.819 11.85l16.096 14.576c.464 3.115.927 7.325.918 12.118.045 8.438-1.531 18.016-5.954 24.581-2.216 3.32-5.016 6.018-9.04 8.057-4.025 2.031-9.42 3.422-16.857 3.422-5.601 0-12.341-.798-20.326-2.716-4.339-1.039-8.697 1.641-9.736 5.971-1.029 4.339 1.651 8.697 5.981 9.736 8.976 2.142 16.941 3.143 24.081 3.152 9.448 0 17.496-1.808 24.126-5.146 7.779-3.895 13.222-9.866 16.857-16.347.52.918.853 1.864 1.428 2.763a39.533 39.533 0 0 0 15.243 13.584c6.639 3.338 14.688 5.156 24.136 5.146 7.14 0 15.104-1.01 24.08-3.162a8.066 8.066 0 1 0-3.753-15.688zM152.742 105.711 138.5 141.316l35.606-7.121zM359.254 105.711l-21.363 28.484 35.605 7.121zM146.011 241.809c0 13.983 11.349 25.323 25.332 25.323 13.982 0 25.313-11.34 25.313-25.323s-11.331-25.322-25.313-25.322c-13.983 0-25.332 11.339-25.332 25.322zM340.663 267.132c13.982 0 25.323-11.34 25.323-25.323s-11.341-25.322-25.323-25.322c-13.983 0-25.322 11.34-25.322 25.322 0 13.983 11.339 25.323 25.322 25.323z" class="st0"/>
      </svg>
    </footer>
  </body>
</html>